<ion-view view-title="About">
	<ion-nav-buttons side="right">
				<button class="button  button-clear "></button>
	</ion-nav-buttons>
	<ion-content >
		<div class="card">
			<div class="item item-text-wrap">
				<p style="color:blue; text-align:center; font-size:25px;">
					<strong>GDG Buea </strong> <span style="color:red; text-align:center; font-size:25px;">I/O </span>
				</p>
				<p>
					#SiliconMountain <br><hr>
				<p><br />
				</p> 
				<p>
					Developed by awesome
					<strong>
						Arnold Chuenffo.
					</strong>
				</p>
				</p>	<br>
				
				
			</div>
			<div class="item tabs tabs-secondary tabs-icon-left dark">
				<a class="tab-item" href="#" onclick="window.open('http://arnoldchuenffo.blogspot.com/', '_system', 'location=yes'); return false;">
				<i class="icon ion-chatbubble"></i>
				blog
				</a>
				<a class="tab-item" href="#" onclick="window.open('http://www.funtech.comv.com', '_system', 'location=yes'); return false;" >
				<i class="icon ion-home"></i>
				Website
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>